body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* ----------------------
    header part start 
------------------------*/
/* header {
  background-color: rgb(45, 44, 158);
  color: white;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 20px;
  padding: 10px 20px;
}

nav li:hover {
  background-color: rgb(222, 49, 110);
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(45, 44, 158);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(222, 49, 110);
} */

/* ---------------------
    header part end 
-----------------------*/

/* -------------------------------
    Top Banner Container start
--------------------------------*/
.top-banner-container {
  display: flex;
  color: white;
  padding-top: 100px;
  padding-left: 170px;
  padding-right: 70px;
  padding-bottom: 70px;
  background-color: rgb(46, 43, 157);
}

.half-width {
  width: 50%;
}

.half-width img {
  width: 90%;
}

.half-width h1 {
  font-size: 64px;
  margin-bottom: 8px;
  line-height: 80px;
}

#watch-live-button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: rgb(221, 49, 110);
  border: 0;
  padding: 12px 16px 12px 14px;
}

.half-width .fas.fa-arrow-right {
  padding-left: 8px;
}
/* ----------------------------
    Top Banner Container end 
------------------------------*/

/* ----------------------------
    Players section start 
------------------------------*/
.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-top: 60px;
  padding-left: 150px;
  padding-right: 140px;
  margin-bottom: 100px;
}

.players-container p {
  font-size: 17px;
  font-weight: 200;
}

.player {
  width: 280px;
  height: 474px;
  margin: 10px;
  padding: 12px;
  box-shadow: 1px 1px 5px gray;
}

.player-image-layout {
  width: 280px;
  height: 245px;
}
/* ----------------------------
    Players section end 
------------------------------*/

/* ----------------------------
    news section start 
------------------------------*/

#news {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

.news-container {
  display: flex;
}

.news-item {
  width: 25%;
  margin-top: 5%;
  margin-left: 3.8%;
  margin-right: 4%;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  /* border-radius: 20px; */
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 20px gray;
}

.news-image-layout {
  padding-left: 14px;
  width: 280px;
  height: 213px;
  border-radius: 50%;
}
/* ----------------------------
    news section end 
------------------------------*/

/* ----------------------------
    teams section start 
------------------------------*/
#teams-section {
  margin-bottom: 150px;
}

.teams-container img {
  width: 90%;
  padding-left: 50px;
}
/* ----------------------------
    teams section end 
------------------------------*/

/* ----------------------------
    Footer start 
------------------------------*/
#footer-container {
  display: block;
  margin-bottom: 70px;
}

#footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 383px;
}

.social-links a i {
  font-size: 22px;
  color: gray;
  margin-right: 10px;
}

#footer-p {
  text-align: center;
}

/* ----------------------------
    Footer end 
------------------------------*/
