body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* ----------------------
    header part start 
------------------------*/
/* header {
  background-color: rgb(45, 44, 158);
  color: white;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 20px;
  padding: 10px 20px;
}

nav li:hover {
  background-color: rgb(222, 49, 110);
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(45, 44, 158);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(222, 49, 110);
} */

/* ---------------------
    header part end 
-----------------------*/

/* ---------------------
    Top Banner start 
-----------------------*/
.top-banner-container {
  display: flex;
  color: white;
  padding-top: 100px;
  padding-left: 170px;
  padding-right: 70px;
  padding-bottom: 70px;
  background-color: rgb(45, 44, 158);
}

.half-width {
  width: 50%;
}

.half-width img {
  width: 90%;
}

.half-width h1 {
  font-size: 64px;
  margin-bottom: 8px;
  line-height: 80px;
}

#watch-live-button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: rgb(222, 49, 110);
  border: 0;
  padding: 10px 16px 10px 14px;
}

.half-width .fas.fa-arrow-right {
  padding-left: 8px;
}
